
<div class="card-group">
    <div class="card">
      <img class="card-img-top" src="images/p1.png"  style="width: 5cm; height: 5cm; ">
      <div class="card-body">
        <p class="card-text"><%=name_1%></p>
        <p class="card-text"><%=order_1%></p>
      </div>
    </div>

    <div class="card">
      <img class="card-img-top" src="images/p3.png" style="width: 5cm; height: 5cm; "  >
      <div class="card-body">
        <p class="card-text"><%=name_2%></p>
        <p class="card-text"><%=order_2%></p>
      </div>
    </div>

    <div class="card">
      <img class="card-img-top" src="images/p6.png" style="width: 5cm; height: 5cm; " >
      <div class="card-body">
        <p class="card-text"><%=name_3%></p>
        <p class="card-text"><%=order_3%></p>
      </div>
    </div>
  </div>